
    <!-- breadcrumb -->
    <admin-breadcrumb />
    <!-- ./breadcrumb -->

    <!-- wrapper -->
    <div class="container grid grid-cols-12 items-start pb-16 pt-4 gap-6">

        <div class="col-span-8 border border-gray-200 p-4 rounded">
           
            <form class="space-y-4" [formGroup]="productForm" >
                <div>
                    <label for="nombre" class="text-gray-600 mb-2 block font-poppins font-semibold">Nombre Producto <span
                        class="text-primary">*</span></label>
                    <input type="text" name="nombre" id="nombre"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm font-poppins rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="Nombre producto" formControlName="nombre">
                </div>
                <div>
                    <label for="nombre" class="text-gray-600 mb-2 block font-poppins font-semibold">Descripción <span
                        class="text-primary">*</span></label>
                    <textarea name="descripcion" id="nombre" formControlName="descripcion"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm font-poppins rounded focus:ring-0 focus:border-primary placeholder-gray-400">
                    </textarea>
                    
                </div>

                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label for="precio" class="text-gray-600 mb-2 block font-poppins font-semibold">Precio <span
                            class="text-primary">*</span></label>
                        <input type="number" name="precio" id="precio" formControlName="precio"
                            class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm font-poppins rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                            placeholder="Precio producto">
                    </div>
                    
                    <div>
                        <label for="stock" class="text-gray-600 mb-2 block font-poppins font-semibold">Stock <span
                            class="text-primary">*</span></label>
                        <input type="number" name="stock" id="stock" formControlName="stock"
                            class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm font-poppins rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                            placeholder="Stock producto">
                    </div>

                    <div>
                        <label for="categoria" class="text-gray-600 mb-2 block font-poppins font-semibold">Categoría <span
                            class="text-primary">*</span></label>
                        <select name="categoria" id="categoria" formControlName="categoria_id"
                            class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm font-poppins rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                            placeholder="Stock producto">
                            <option value="">Seleccione Categoria</option>
                            @for (categoria of categorias(); track categoria.id) {
                                <option [value]="categoria.id"> {{ categoria.nombre | titlecase }} </option>
                            }
                            
                        </select>
                    </div>

                    <div>
                        <label for="Marca" class="text-gray-600 mb-2 block font-poppins font-semibold">Marca <span
                            class="text-primary">*</span></label>
                        <select name="Marca" id="Marca" formControlName="marca_id"
                            class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm font-poppins rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                            placeholder="Stock producto">
                            <option value="">Seleccione Marca</option>
                            @for (marca of marcas(); track marca.id) {
                                <option [value]="marca.id"> {{ marca.nombre }} </option>
                            }
                        </select>
                    </div>
    
                    <div>
                        <label for="imagen" class="text-gray-600 mb-2 block font-poppins font-semibold">Imagen </label>
                        <input type="file" name="imagen" id="imagen"
                            class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm font-poppins rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                            placeholder="Imagen producto">
                    </div>
                    
                </div>

                
                
            </form>

        </div>

        <div class="col-span-4 border border-gray-200 p-4 rounded">
            <h4 class="text-gray-800 text-lg mb-4 font-semibold uppercase font-poppins">Información de Producto</h4>
            <div class="space-y-2">
                <div class="block  mb-5">
                    <div>
                        <h5 class="text-gray-600 font-medium font-poppins">Nombre:</h5>
                        
                    </div>
                    
                    <p class="text-gray-600 font-normal font-poppins"> {{ productForm.controls['nombre'].value }} </p>
                </div>
                <div class="block mb-5">
                    <div>
                        <h5 class="text-gray-600 font-medium font-poppins">Descripción:</h5>
                        
                    </div>
                    <div class="overflow-clip">
                        <p class="text-gray-600 font-normal font-poppins">{{ productForm.controls['descripcion'].value }}</p>
                    </div>
                </div>
                <div class="flex justify-between mb-5">
                    <div>
                        <h5 class="text-gray-600 font-medium font-poppins">Precio</h5>
                        
                    </div>
                    
                    <p class="text-gray-600 font-normal font-poppins">{{ productForm.controls['precio'].value | currency }}</p>
                </div>
                <div class="flex justify-between mb-5">
                    <div>
                        <h5 class="text-gray-600 font-medium font-poppins">Stock:</h5>
                        
                    </div>
                    
                    <p class="text-gray-600 font-normal font-poppins">{{ productForm.controls['stock'].value }}</p>
                </div>
                <!-- <div class="flex justify-between mb-5">
                    <div>
                        <h5 class="text-gray-600 font-medium font-poppins">Categoria:</h5>
                        
                    </div>
                    
                    <p class="text-gray-600 font-normal font-poppins">{{ productForm.controls['categoria'].value | titlecase }}</p>
                </div>
                <div class="flex justify-between mb-5">
                    <div>
                        <h5 class="text-gray-600 font-medium font-poppins">Marca:</h5>
                        
                    </div>
                    
                    <p class="text-gray-600 font-normal font-poppins">{{ productForm.controls['marca'].value  }}</p>
                </div> -->
               
            </div>

            

            <button
                class="block w-full py-3 px-4 mt-7 text-center text-white bg-primary border border-primary rounded-md hover:bg-transparent 
                hover:text-primary transition font-medium disabled:bg-gray-600 disabled:border-none disabled:hover:text-white"
                [disabled]="productForm.invalid" (click)="guardarProducto()">
                Guardar Producto
            </button>

            <!-- <div>
                <pre> {{ producto | json }} </pre>
            </div> -->
            
        </div>

    </div>
    <!-- ./wrapper -->

