
<!-- login -->
<div class="contain py-16">
    <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
        <h2 class="text-2xl uppercase font-bold mb-1 font-poetsen">Inicio de Sesion</h2>
        <p class="text-gray-600 mb-6 text-sm font-poppins">
            Bienvenido de nuevo
        </p>
        <form action="#" method="post" autocomplete="off">
            <div class="space-y-2">
                <div>
                    <label for="email" class="text-gray-600 mb-2 block font-poppins font-semibold">Correo Electronico</label>
                    <input type="email" name="email" id="email"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm font-poppins rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="Correo electronico">
                </div>
                <div>
                    <label for="password" class="text-gray-600 mb-2 block font-poppins font-semibold">Password</label>
                    <input type="password" name="password" id="password"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm font-poppins rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="*******">
                </div>
            </div>
            <div class="flex items-center justify-between mt-6">
                <!-- <div class="flex items-center">
                    <input type="checkbox" name="remember" id="remember"
                        class="text-primary focus:ring-0 rounded-sm cursor-pointer">
                    <label for="remember" class="text-gray-600 ml-3 cursor-pointer">Remember me</label>
                </div> -->
                
            </div>
            <div class="mt-4">
                <button type="submit"
                    class="block w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-poetsen font-medium">Ingresar</button>
            </div>
        </form>

        

        <p class="mt-4 text-center text-gray-600 font-poppins">No tienes una cuenta? <a href="register.html"
                class="text-primary">Registrarse</a></p>
    </div>
</div>
<!-- ./login -->
